
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <title>Landing Page Design Using HTML & CSS</title>
  </head>
  <body>
    <div class="background_img-1">
      <div class="header">
        <a href="/dashboard"
          ><img src="css/images/Cab-Sharing.svg" alt="" class="logo"
        /></a>
        <nav>
          <ul>
          </ul>
        </nav>
        <a href="/profile"><button class="btn" id="btn2">Profile</button></a>
        <a href="/logout"><button class="btn" id="btn1">Log out</button></a>
      </div>
    </div>
    <div class="request-list">
      <% for(const journeyData of data){%>
      <ul>
        <li>
          

          Requested you for Book the cab for
          <%=journeyData.email%> to <%=journeyData.name%> a
          <form action="/driver" method="post">
            <input
              type="hidden"
              name="journeyID"
              value="<%=journey%>"
            />
            <input
              type="hidden"
              name="email"
              value="<%=journeyData.email%>"
            />
            <button type="submit" name="response" value="accept">Book</button>
          </form>
        </li>
      </ul>
      <% } %>
    </div>
  </body>
</html>